<a href="https://colab.research.google.com/github/ADIthaker/Recommender-Systems/blob/master/SVD_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets download -d odedgolden/movielens-1m-dataset

mkdir: cannot create directory ‘/root/.kaggle’: File exists
Downloading movielens-1m-dataset.zip to /content
100% 5.83M/5.83M [00:00<00:00, 58.2MB/s]

In [ ]:
! unzip -q movielens-1m-dataset.zip

In [ ]:
import pandas as pd
import numpy as np
from scipy.linalg import svd
pd.__version__

In [ ]:
rating_data = pd.io.parsers.read_csv('./ratings.dat',names=['user_id', 'movie_id', 'rating', 'time'],
    engine='python', delimiter='::')
rating_data.head(5)

   user_id  movie_id  rating       time
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [ ]:
movie_data = pd.io.parsers.read_csv('./movies.dat',names=['movie_id', 'title', 'genres'],
    engine='python', delimiter='::')
movie_data.head(10)

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [ ]:
data= pd.merge(rating_data, movie_data, on="movie_id")
data

         user_id  ...                genres
0              1  ...                 Drama
1              2  ...                 Drama
2             12  ...                 Drama
3             15  ...                 Drama
4             17  ...                 Drama
...          ...  ...                   ...
1000204     5949  ...           Documentary
1000205     5675  ...                 Drama
1000206     5780  ...                 Drama
1000207     5851  ...  Comedy|Drama|Western
1000208     5938  ...           Documentary

[1000209 rows x 6 columns]

In [ ]:
new_data = pd.pivot_table(data, values="rating", index=['user_id'], columns=["movie_id"]).fillna(0)
new_data.head(10)

movie_id  1     2     3     4     5     ...  3948  3949  3950  3951  3952
user_id                                 ...
1          5.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
2          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
4          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
5          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
6          4.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
7          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
8          4.0   0.0   0.0   3.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
9          5.0   0.0   0.0   0.0   0.0  ...   3.0   0.0   0.0   0.0   0.0
10         5.0   5.0   0.0   0.0   0.0  ...   4.0   0.0   0.0   0.0   0.0

[10 rows x 3706 columns]

In [ ]:
A = new_data.values
usr_rating_mean = np.mean(A, axis=1)
A_demeaned = A - usr_rating_mean.reshape(-1, 1)

In [ ]:
pd.DataFrame(A_demeaned)

          0         1         2     ...      3703      3704      3705
0     4.940097 -0.059903 -0.059903  ... -0.059903 -0.059903 -0.059903
1    -0.129250 -0.129250 -0.129250  ... -0.129250 -0.129250 -0.129250
2    -0.053697 -0.053697 -0.053697  ... -0.053697 -0.053697 -0.053697
3    -0.023745 -0.023745 -0.023745  ... -0.023745 -0.023745 -0.023745
4    -0.168106 -0.168106 -0.168106  ... -0.168106 -0.168106 -0.168106
...        ...       ...       ...  ...       ...       ...       ...
6035 -0.791419 -0.791419 -0.791419  ... -0.791419 -0.791419 -0.791419
6036 -0.202644 -0.202644 -0.202644  ... -0.202644 -0.202644 -0.202644
6037 -0.020507 -0.020507 -0.020507  ... -0.020507 -0.020507 -0.020507
6038 -0.128710 -0.128710 -0.128710  ... -0.128710 -0.128710 -0.128710
6039  2.670804 -0.329196 -0.329196  ... -0.329196 -0.329196 -0.329196

[6040 rows x 3706 columns]

In [ ]:
from scipy.sparse.linalg import svds

In [ ]:
U, sigma, Vt = svds(A_demeaned, k = 50)

In [ ]:
sigma = np.diag(sigma)

In [ ]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + usr_rating_mean.reshape(-1, 1)
all_user_predicted_ratings

array([[ 4.28886061,  0.14305516, -0.1950795 , ...,  0.03191195,
         0.05044975,  0.08891033],
       [ 0.74471587,  0.16965927,  0.33541808, ..., -0.10110207,
        -0.0540982 , -0.14018846],
       [ 1.81882382,  0.45613623,  0.09097801, ...,  0.01234452,
         0.01514752, -0.10995596],
       ...,
       [ 0.61908871, -0.16176859,  0.10673806, ..., -0.01336948,
        -0.0303543 , -0.11493552],
       [ 1.50360483, -0.03620761, -0.16126817, ..., -0.01090407,
        -0.03864749, -0.16835943],
       [ 1.99624816, -0.18598715, -0.1564782 , ..., -0.00664061,
         0.12706713,  0.28500112]])

In [ ]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = new_data.columns)
preds_df.head()

movie_id      1         2         3     ...      3950      3951      3952
0         4.288861  0.143055 -0.195080  ...  0.031912  0.050450  0.088910
1         0.744716  0.169659  0.335418  ... -0.101102 -0.054098 -0.140188
2         1.818824  0.456136  0.090978  ...  0.012345  0.015148 -0.109956
3         0.408057 -0.072960  0.039642  ... -0.026050  0.014841 -0.034224
4         1.574272  0.021239 -0.051300  ...  0.033830  0.125706  0.199244

[5 rows x 3706 columns]

In [ ]:

def recommend_movies(predictions_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    user_row_number = userID 
    sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False)
    user_data = original_ratings_df[original_ratings_df.user_id == (userID)]
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'movie_id', right_on = 'movie_id').
                     sort_values(['rating'], ascending=False)
                 )

    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['movie_id'].isin(user_full['movie_id'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'movie_id',
               right_on = 'movie_id').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [ ]:
already_rated, predictions = recommend_movies(preds_df, 837, movie_data, rating_data, 100)

User 837 has already rated 69 movies.
Recommending highest 100 predicted ratings movies not already rated.

In [ ]:
predictions

      movie_id  ...                         genres
3758      3897  ...                   Comedy|Drama
3278      3408  ...                          Drama
2875      2997  ...                         Comedy
2648      2762  ...                       Thriller
3348      3481  ...                         Comedy
...        ...  ...                            ...
2988      3114  ...    Animation|Children's|Comedy
941        968  ...                  Horror|Sci-Fi
1804      1909  ...        Mystery|Sci-Fi|Thriller
2586      2699  ...  Action|Comedy|Sci-Fi|Thriller
2575      2688  ...                 Drama|Thriller

[100 rows x 3 columns]

In [ ]:
user_837 = rating_data.loc[rating_data['user_id']==837]
movies = user_837.movie_id

In [ ]:
movie_data[movie_data['movie_id'].isin(list(movies)) & (movie_data['genres'].str.find("Comedy") != -1)]

      movie_id  ...                     genres
33          34  ...    Children's|Comedy|Drama
893        905  ...                     Comedy
898        910  ...               Comedy|Crime
943        955  ...                     Comedy
1171      1188  ...             Comedy|Romance
1224      1244  ...       Comedy|Drama|Romance
1256      1276  ...               Comedy|Drama
1272      1292  ...                     Comedy
1284      1304  ...      Action|Comedy|Western
1421      1446  ...                     Comedy
1931      2000  ...  Action|Comedy|Crime|Drama
2220      2289  ...               Comedy|Drama
2231      2300  ...             Comedy|Musical
2530      2599  ...                     Comedy
2722      2791  ...                     Comedy
2789      2858  ...               Comedy|Drama
2866      2935  ...             Comedy|Romance
3014      3083  ...               Comedy|Drama
3238      3307  ...       Comedy|Drama|Romance
3272      3341  ...                     Comedy
3293      3362  ...         Comedy|Crime|Drama
3348      3417  ...    Adventure|Comedy|Sci-Fi
3435      3504  ...               Comedy|Drama

[23 rows x 3 columns]